* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
}

#app_header {
    position: fixed;
    width: 100vw;
    text-align: center;
}

#lists {
    position: fixed;
    width: 20vw;
    height: 100vh;
    left: 0;
    top: 0;
}

#dbs_list_panel {
    width: 100%;
    height: 50vh;
    padding: 10px;
}

#colls_list_panel {
    width: 100%;
    height: 50vh;
    top: 50vh;
    padding: 10px;
}

#dbs_list {
    background-color: white;
    widows: 100%;
    height: 100%;
}

#colls_list {
    background-color: white;
    widows: 100%;
    height: 100%;
}

#coll_content {
    position: fixed;
    width: 70vw;
    height: 90vh;
    left: 25vw;
    top: 5vh;
    background-color: white;
    white-space: pre;
}

.db_name, .coll_name {
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 3px;
}

.db_selected, .coll_selected {
    color: red;
}

#records {
    height: 95%;
    overflow: scroll;
    border: 2px solid red;
}

.item {
    text-align: center;
    border: 2px solid black;
    line-height: 100%;
    padding: 8px;
    margin-top: 10px;
}

.item textarea {
    width: 75%;
}